<% content_for(:title) do %>
旅の計画 - パスの編集 - <%= @tour_plan.name %>
<% end %>

<% content_for(:menus) do %>
<li class="active"><%= link_to "戻る", action: :index, page: TourPlan.page_for(current_user || User.new, @tour_plan.id) %></li>
<li><%= link_to "ノードの編集", action: :edit_node, id: @tour_plan %></li>
<% end %>

<% content_for(:manage) do %>
<% if can? :delete, TourPlan %>
<li class="active"><%= link_to("削除", {action: :destroy, id: @tour_plan}, method: :delete, confirm: "削除しますか?") %></li>
<% end %>
<% end %>

<div class="btmw-tour-plan-edit-path">
  <div class="row">
    <div class="medium-12 columns">
      <%= form_tag(action: :update_path, id: @tour_plan) do %>
        <table>
          <thead>
             <th>ルート</th>
             <th>パス</th>
             <th>管理</th>
          </thead>
          <tbody>
            <tr>
              <th>計画名</th>
              <td colspan="2"><%= text_field(:tour_plan, :name) %></td>
              <td></td>
            </tr>
            <tr>
              <th>リソース セット</th>
              <td colspan="2"><%= collection_select(:tour_plan, :resource_set_id, ResourceSet.all, :id, :name) %></td>
              <td></td>
            </tr>
            <tr>
              <th>工程表 文字スケール</th>
              <td colspan="2"><%= text_field(:tour_plan, :planning_sheet_scale) %></td>
              <td></td>
            </tr>
            <tr>
              <th>開始時刻</th>
              <td class="btmw-time"><%= time_select(:tour_plan, :start_time) %></td>
              <td><%= time_zone_select(:tour_plan, :time_zone) %></td>
              <td></td>
            </tr>
            <% @tour_plan.tour_plan_routes.each do |route|; @route = route %>
            <% @route.tour_plan_paths.each.with_index do |path, i|; @path = path %>
            <tr>
              <% if i == 0 %>
              <td><%= text_field("route[]", :name) %></td>
              <% else %>
              <td></td>
              <% end %>
              <td colspan="2"><%= text_field("path[]", :google_map_url) %></td>
              <td>
                <ul class="button-group round">
                  <li><a href="<%= @path.google_map_url %>" class="tiny button" target="_blank">表示</a></li>
                  <li><%= link_to("削除", {action: :destroy_path, tour_plan_id: @tour_plan.id, id: @path}, method: :delete, class: "tiny button") %></li>
                </ul>
              </td>
            </tr>
            <% @path = nil; end %>
            <tr>
              <td></td>
              <td colspan="2"><%= text_field("path_new[#{@route.id}]", :google_map_url) %></td>
              <td></td>
            </tr>
            <% @route = nil; end %>
            <tr>
              <td><%= text_field(:route_new, :name) %></td>
              <td colspan="2"><%= text_field(:route_new, :google_map_url) %></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <%= submit_tag("編集", class: "tiny button") %>
      <% end %>
    </div>
  </div>
</div>
