<% content_for(:title) do %>
<%= @tour_plan.name %>
<% end %>

<% content_for :out_of_frames do %>
<script type="text/javascript">
     //<![CDATA[
     function loadGPXFileIntoGoogleMap(filename) {
         $.ajax({
             url:filename,
             dataType: "xml",
             success: function(data) {
                 google.maps.event.trigger(window.map, 'resize');

                 var parser = new GPXParser(data, window.map);
                 parser.setTrackColour("#ff0000");
                 parser.setTrackWidth(5);
                 parser.setMinTrackPointDelta(0.0001);
                 parser.centerAndZoom(data);
                 parser.addTrackpointsToMap();

                 window.marker = [];
                 window.info_window = [];

                 <% i = 0; @tour_plan.tour_plan_routes.each do |route|; route.tour_plan_points.each do |point| %>
	 		     <% unless point.exclude? %>
				 CreatePoint(<%= i %>, <%= point.point.y %>, <%= point.point.x %>, $("#marker_<%= i %>").html() );
                 <% end; i += 1; end; end %>
             }
         });
     }

     function CreatePoint(id, lat, lon, html) {
         window.marker[id] = new google.maps.Marker({
             position: new google.maps.LatLng(lat,lon),
             map: window.map
         });

         window.info_window[id] = new google.maps.InfoWindow({
             content: html,
             size: new google.maps.Size(100,100)
         });

         google.maps.event.addListener(window.marker[id], "click", function() {
             window.info_window[id].open(window.map, window.marker[id]);
         });
     }

     function FocusPoint(id) {
         window.info_window[id].open(window.map, window.marker[id]);
     }

     function ClosePoint(id) {
         window.info_window[id].close(window.map, window.marker[id]);
     }

     function UpdatePoint(id) {
         window.info_window[id].content = $("#marker_" + id).html();
     }

     function ShowViewer()
     {
         var mapOptions = {
           zoom: 8,
           mapTypeId: google.maps.MapTypeId.ROADMAP
         };
         window.map = new google.maps.Map(document.getElementById("map"), mapOptions);

         loadGPXFileIntoGoogleMap("<%= url_for(action: :show_gpx, id: @tour_plan) %>");

         $('body').layout({
             slidable: true,
             resizable: true,
             livePaneResizing: true,
             stateManagement__enabled: true,
             north: {
               closable: false,
               spacing_open: 0,
               spacing_close: 0
             },
             west: {
                 size: 300
             },
             south: {
                 size: 200
             },
             center: {
                 onresize: function() {
                    google.maps.event.trigger(window.map, 'resize');
                 }
             }
         });

         $(document).unbind('ready page:load', ShowViewer);

     }

     $(document).on('ready page:load', ShowViewer);
 //]]>
</script>

<%= render(partial: "tour_result/form_upload") %>

<ul id="results" data-dropdown-content class="f-dropdown">
<% @tour_plan.tour_results.each do |result| %>
<% if can?(:edit, TourResult) || result.published then; @has_result = true %>
<li><%= link_to("#{result.start_time.strftime("%Y/%M/%d")} #{result.name}", controller: :tour_result, action: :show, id: result) %></li>
<% end %>
<% end %>
</ul>
<% end %>

<% content_for :menus do %>
<li class="active"><%= link_to("戻る", action: :index, page: TourPlan.page_for(current_user || User.new, @tour_plan.id), anchor: "tour_tem_#{@tour_plan.id}") %></li>
<% if @has_result %>
<li class="active"><a href="#" data-dropdown="results">結果</a></li>
<% end %>
<% end %>

<% content_for :manage do %>
<% if can? :edit, TourResult %>
<li><a href="#" data-reveal-id="edit_menu">結果をアップロード</a></li>
<% end %>
<li class="active"><a href="<%= path_to_image(@tour_plan.public_pdf_url) %>">PDF で計画を表示</a></li>
<% if can? :edit, TourPlan %>
<li class="active"><%= link_to("非公開 PDF の表示", { action: :show_pdf, id: @tour_plan }, target: "_blank") %></li>
<li class="active"><%= link_to("GPX のダウンロード", { action: :show_private_gpx, id: @tour_plan }) %></li>
<li class="active"><%= link_to(@tour_plan.published ? "非公開" : "公開", {action: :toggle_visible, id: @tour_plan}, method: :post) %></li>
<% end %>
<% if can? :delete, TourPlan %>
<li class="active"><%= link_to("削除", {action: :destroy, id: @tour_plan}, method: :delete, confirm: "削除しますか?") %></li>
<% end %>
<% end %>

<% content_for :west do %>
 <div class="row">
   <div class="large-12 columns">
     <%
     target_speed = 15
	 limit_speed = 15
	 %>
     <% i = 0; @tour_plan.tour_plan_routes.each.with_index do |route, ri| %>
	 <div>
	   <h3><%= route.name %></h3>
	   <table style="width:100%;">
	     <theader>
		   <th>場所</th>
		   <th>到着</th>
		 </theader>
	     <tbody>
           <% route.tour_plan_points.each.with_index do |point, pi| %>
		   <%
		   target_speed = point.target_speed if point.target_speed && point.target_speed > 0
		   limit_speed = point.limit_speed if point.limit_speed && point.limit_speed > 0
		   %>
           <tr>
		     <% if point.exclude? %>
			 <td>--</td>
			 <td>--</td>
			 <% else %>
			 <td><a href="javascript:FocusPoint(<%= i %>);">★<%= ri * 100 + pi + 1 %> <%= point.name %></a></td>
			 <td>
			   <%= point.target_time && point.target_time.strftime("%e日目 %H:%M") %> ～ <%= point.limit_time && point.limit_time.strftime("%e日目 %H:%M") %>
               <div class="hide" id="marker_<%= i %>">
			     <table style="width:300px">
				   <tbody>
				     <tr>
					   <th colspan="3">★<%= ri * 100 + pi + 1 %> <%= point.name %></th>
				     </tr>
					 <tr>
						 <th>距離/高度</th>
						 <td colspan="2"><%= point.distance %> km / <%= point.elevation %> m</td>
					 </tr>
				     <tr>
					   <th rowspan="2">目標</th>
					   <th>到着</th>
					   <td><%= point.target_time && point.target_time.strftime("%e日目 %H:%M") %></td>
					 </tr>
				     <tr>
					   <th>速度</th>
					   <td><%= target_speed.to_i %> km/h</td>
					 </tr>
				     <tr>
					   <th rowspan="2">制限</th>
					   <th>到着</th>
					   <td><%= point.target_time && point.limit_time.strftime("%e日目 %H:%M") %></td>
					 </tr>
				     <tr>
					   <th>速度</th>
					   <td><%= limit_speed.to_i %> km/h</td>
					 </tr>
					 <tr>
					   <th>備考</th>
					   <td colspan="2"><%= point.comment %></td>
					 </tr>
				   </tbody>
				 </table>
               </div>
			 </td>
			 <% end %>
	       </tr>
           <% i += 1; end%>
	     <tbody>
       </table>
     </div>
	 <% end %>
   </div>
  </div>
<% end %>
<% content_for :south do %>
  <%= image_tag( @tour_plan.altitude_graph_url, style: "height:100%;width:auto;max-width:none;" ) %>
<% end %>
