<div class="content <% if @active %>active<% end %>" id="resource">
  <% @active = false %>
  <%= form_tag(action: :update_resources) do %>
  <table style="width:100%;">
      <thead>
          <th>名前</th>
          <th>管理</th>
      </thead>
      <tbody>
        <% @resources.each do |res|; @res = res %>
        <tr>
            <td><%= text_field("res[]", "name") %></td>
		    <td><%= link_to("削除", {action: :destroy_resource, id: @res}, method: :delete) %></td>
        </tr>
        <% end %>
        <tr>
            <td><%= text_field("res_new", "name") %></td>
		    <td></td>
        </tr>
      </tbody>
  </table>
  <%= submit_tag("リソースの更新", class: "button") %>
  <% end %>

  <%= form_tag(action: :update_devices) do %>
  <table style="width:100%;">
      <thead>
          <th>名前</th>
          <th>リソース</th>
          <th>使用可能時間</th>
          <th>管理</th>
      </thead>
      <% @devices.each do |dev|; @dev = dev %>
      <tbody>
        <tr>
            <td><%= text_field("dev[]", "name") %></td>
            <td><%= collection_select("dev[]", :resource_id, @resources, :id, :name) %></td>
            <td><%= text_field("dev[]", "interval") %></td>
		    <td><%= link_to("削除", {action: :destroy_device, id: @dev}, method: :delete) %></td>
        </tr>
        <% end %>
        <tr>
            <td><%= text_field("dev_new", "name") %></td>
            <td><%= collection_select("dev_new", :resource_id, @resources, :id, :name) %></td>
            <td><%= text_field("dev_new", "interval") %></td>
		    <td></td>
        </tr>
       </tbody>
  </table>
  <%= submit_tag("デバイスの更新", class: "button") %>
  <% end %>

  <%= form_tag({action: :edit_resource_set}, remote: true, method: :get) do %>
    <div class="row">
        <div class="columns medium-8">
            <%= collection_select(:set, :id, @resource_sets, :id, :name) %>
        </div>
        <div class="columns medium-4">
            <%= submit_tag("編集", class: "button") %>
        </div>
    </div>
  <% end %>

  <%= form_tag({action: :create_resource_set}, remote: true, method: :post) do %>
    <div class="row">
        <div class="columns medium-8">
		    <%= text_field(:set_new, :name) %>
        </div>
        <div class="columns medium-4">
            <%= submit_tag("追加", class: "button") %>
        </div>
    </div>
  <% end %>

  <div id="resource_set_edit">
  <% if @set %>
  <%= render(partial: "form_resource_set") %>
  <% end %>
  </div>
</div>
