<div class="content <% if @active %>active<% end %>" id="exclusion">
  <% @active = false %>
  <table>
    <thead>
      <th>緯度</th>
      <th>経度</th>
      <th>距離</th>
      <th>管理</th>
    </thead>
    <tbody>
      <% @areas.each do |area| %>
      <tr>
        <td id="data_<%= area.id %>_lon"><%= area.point.y %></td>
        <td id="data_<%= area.id %>_lat"><%= area.point.x %></td>
        <td id="data_<%= area.id %>_distance"><%= area.distance %></td>
        <td>
          <ul class="button-group round" id="menu_<%= area.id %>">
            <li><a href="javascript:EditColumn(<%= area.id %>);" class="tiny button">編集</a></li>
			<li><%= link_to("削除", {action: :destroy_exclusion_area, id: area.id}, data: { confirm: "削除しますか?" }, method: :delete, class: "tiny button") %></li>
          </ul>
        </td>
      </tr>
      <% end %>
    </tbody>
      <%= form_tag({action: :create_exclusion_area}) do %>
      <tr id="form_create">
        <%= render partial: "form_exclusion_area", locals: { prefix: "" } %>
        <td>
          <%= submit_tag("追加", class: "button") %>
        </td>
      </tr>
      <% end %>
      <%= form_tag({action: :update_exclusion_area}) do %>
      <tr id="form_update" style="display:none">
        <%= render partial: "form_exclusion_area", locals: { prefix: "update_" } %>
        <td>
          <%= hidden_field(:update_exclusion_area, :id) %>
          <%= submit_tag("編集", class: "button") %>
          <a href="javascript:CancelEditColumn();">キャンセル</a>
        </td>
      </tr>
      <% end %>
  </table>
</div>
