<div class="content <% if @active %>active<% end %>" id="resource">
  <% @active = false %>
  <%= form_tag({action: :update_resources, resource_set_id: @set}, remote: true) do %>
  <table style="width:100%;">
      <thead>
          <th>名前</th>
          <th>管理</th>
      </thead>
      <tbody id="resources">
	      <%= render(partial: "content_resources") %>
      </tbody>
  </table>
  <%= submit_tag("リソースの更新", class: "button") %>
  <% end %>

  <%= form_tag({action: :update_devices, resource_set_id: @set}, remote: true) do %>
  <table style="width:100%;">
      <thead>
          <th>名前</th>
          <th>リソース</th>
          <th>使用可能時間</th>
          <th>消費数</th>
          <th>管理</th>
      </thead>
      <tbody id="devices">
	      <%= render(partial: "content_devices") %>
       </tbody>
  </table>
  <%= submit_tag("デバイスの更新", class: "button") %>
  <% end %>

  <%= form_tag({action: :edit_resource_set}, remote: true, method: :get) do %>
    <div class="row">
        <div class="columns medium-8">
            <%= collection_select(:set, :id, @resource_sets, :id, :name) %>
        </div>
        <div class="columns medium-4">
            <%= submit_tag("編集", class: "button") %>
            <%= submit_tag("削除", class: "button", name: "delete") %>
        </div>
    </div>
  <% end %>

  <%= form_tag({action: :create_resource_set}, remote: true, method: :post) do %>
    <div class="row">
        <div class="columns medium-8">
		    <%= text_field(:set_new, :name) %>
        </div>
        <div class="columns medium-4">
            <%= submit_tag("追加", class: "button") %>
        </div>
    </div>
  <% end %>

  <div id="resource_set_edit">
  <%= render(partial: "form_resource_set") %>
  </div>
</div>
