<%= form_tag(action: :update_resource_set, id: @set) do %>

  <h3>編集:</h3>

  <%= text_field(:set, :name) %>

  <table style="width:100%;">
      <thead>
          <th>リソース</th>
          <th>量</th>
          <th>初期</th>
          <th>回復時間</th>
          <th>管理</th>
      </thead>
      <tbody>
      <% @set.resource_entries.each do |res_entry|; @res_entry = res_entry %>
	    <tr>
		  <td><%= collection_select("res_entry[]", :resource_id, @resources, :id, :name) %></td>
		  <td><%= text_field("res_entry[]", :amount) %></td>
		  <td><%= text_field("res_entry[]", :buffer) %></td>
		  <td><%= text_field("res_entry[]", :interval) %></td>
		  <td><%= link_to("削除", {action: :destroy_resource_entry, id: @res_entry, set_id: @set}, method: :delete) %></td>
		</tr>
      <% end %>
	    <tr>
		  <td><%= collection_select("res_entry_new", :resource_id, @resources, :id, :name) %></td>
		  <td><%= text_field("res_entry_new", :amount) %></td>
		  <td><%= text_field("res_entry_new", :buffer) %></td>
		  <td><%= text_field("res_entry_new", :interval) %></td>
		  <td></td>
		</tr>
      </tbody>
  </table>

  <table style="width:100%;">
      <thead>
          <th>目的</th>
          <th>デバイス</th>
          <th>管理</th>
      </thead>
      <tbody>
      <% @set.device_entries.each do |dev_entry|; @dev_entry = dev_entry %>
	    <tr>
		  <td><%= text_field("dev_entry[]", :purpose) %></td>
		  <td><%= collection_select("dev_entry[]", :device_id, @devices, :id, :name) %></td>
		  <td><%= link_to("削除", {action: :destroy_device_entry, id: @dev_entry, set_id: @set}, method: :delete) %></td>
		</tr>
      <% end %>
	    <tr>
		  <td><%= text_field("dev_entry_new", :purpose) %></td>
		  <td><%= collection_select("dev_entry_new", :device_id, @devices, :id, :name) %></td>
		  <td></td>
		</tr>
      </tbody>
  </table>

  <%= submit_tag("リソース セットの更新", class: "button") %>

<% end %>
