<% content_for(:title) do %>
ログイン
<% end %>

<% content_for(:menus) do %>
<li class="active"><%= link_to "戻る", controller: :summary, action: :index %></li>
<% end %>

<div class="row">
    <div class="medium-12 columns">
        <% unless user_signed_in? %>
        <ul>
            <li><%= link_to "サインアップ", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
        </ul>
        <% end %>

        <% if can? :manage, User %>
            <%= form_tag(action: :edit_user) do %>
            <table>
                <tr>
                    <th>ユーザー</th>
                    <th>ロール</th>
                </tr>
            <% @users.each do |user| %>
                <% @user = user %>
                <tr>
                    <td><%= user.email %></td>
                    <td><%= text_field("user[]", "role") %></td>
                </tr>
            <% end %>
            </table>
            <%= submit_tag("更新") %>
            <% end %>
        <% end %>

        <ul>
        <% if can? :edit, TourResult %>
            <li>旅の結果を編集できます</li>
        <% end %>
        </ul>
    </div>
</div>
