<% if can? :edit, TourResult %>
<div class="reveal-modal" data-reveal id="edit_menu">
	<%= form_tag({controller: :tour_result, action: :create}, multipart: true) do %>
	<div class="row">
		<div class="medium-3 columns">GPX ファイル:</div>
		<div class="medium-9 columns"><%= file_field(:tour_result, :gpx_file) %></div>
	</div>
	<div class="row">
		<div class="medium-3 columns">タイムゾーン:</div>
		<div class="medium-9 columns"><%= time_zone_select(:tour_result, :time_zone, nil, default: "Tokyo") %></div>
	</div>
	<div class="row">
		<div class="medium-9 columns push-3"><%= submit_tag("送信", class: "button") %></div>
	</div>
	<% if @tour_plan %>
	<%= hidden_field(:tour_result, :tour_plan_id, value: @tour_plan.id) %>
	<% end %>
	<% end %>
	<a class="close-reveal-modal">&#215;</a>
</div>
<% end %>
