<%= link_to "戻る", controller: :summary, action: :index %>

<h2>ツアー一覧</h2>
<div>
	<ul class="linklist">
		<% @list.each do |tour| %>
    <li>
      <%= link_to("#{tour.start_time.strftime("%Y/%m/%d")} #{tour.name}", action: :show, :id => tour) %>
	  <% if can? :delete, TourResult %>
	  <%= link_to("削除", {action: :destroy, id: tour}, method: :delete) %>
	  <% end %>
    </li>
		<% end %>
	</ul>
</div>
<% if can? :edit, TourResult %>
<h2>追加</h2>
<div>
	<%= form_tag({action: :create}, multipart: true) do %>
	GPX ファイル: <%= file_field(:tour_result, :gpx_file) %><br />
	<%=	submit_tag("送信") %>
	<% end %>
</div>
<% end %>