<% content_for(:title) do %>
旅の記録
<% end %>

<% content_for(:menus) do %>
<li class="active"><%= link_to "戻る", controller: :summary, action: :index %></li>
<% end %>

<% content_for(:manage) do %>
<% if can? :edit, TourResult %>
	<li class="active"><a href="#" data-reveal-id="edit_menu">追加</a></li>
<% end %>
<% end %>

<%= render( partial: "form_upload" ) %>

<div class="btmw-tour-result-list">
  <div class="row">
    <div class="medium-12 columns">
		<div class="pagination-centered">
			<%= will_paginate @list, renderer: FoundationPagination::Rails %>
		</div>

		<% @list.each do |tour| %>
		<div class="btmw-tour-result-item" id="tour_item_<%= tour.id %>">
          <div class="row">
		    <div class="medium-9 columns">
			  <div class="btmw-tour-result-item-thumbnail">
			  <% if tour.tour_images.count > 0 %>
			  <a href="<%= path_to_image(tour.tour_images[0].image_url) %>" class="th">
			  <%= image_tag(tour.tour_images[0].thumbnail_url) %>
			  </a>
			  <% end %>
			  </div>
              <div><%= tour.start_time_on_local.strftime("%Y/%m/%d") %></div>
		      <h3><%= tour.name %></h3>
			  <p>
              <% if can?(:edit, TourResult) && !tour.published %>
		      [非公開]
		      <% end %>
			  </p>

			  <ul class="button-group round">
			  <li><%= link_to("表示", { action: :show, id: tour }, class: "tiny button") %></li>
              <% if can?(:delete, TourResult) || can?(:edit, TourResult) %>
			  <li><a href="#" data-dropdown="manage_<%= tour.id %>" class="tiny button">&nbsp;</a></li>
              <% end %>
			  </ul>
              <% if can?(:delete, TourResult) || can?(:edit, TourResult) %>
			  <ul id="manage_<%= tour.id %>" data-dropdown-content class="f-dropdown">
                <% if can? :delete, TourResult %>
                <li><%= link_to("削除", {action: :destroy, id: tour}, method: :delete, confirm: "削除しますか?") %></li>
                <% end %>
                <% if can? :edit, TourResult %>
                <li><%= link_to(tour.published ? "非公開" : "公開", {action: :toggle_visible, id: tour}, method: :post) %></li>
                <% end %>
              </ul>
              <% end %>
            </div>
		    <div class="medium-3 columns">
				<table>
					<tbody>
						<tr>
							<th>距離 (公開)</th><td><%= tour.distance(true) %> km</td>
						</tr>
						<tr>
							<th>距離 (実走)</th><td><%= tour.distance(false) %> km</td>
						</tr>
						<tr>
							<th>獲得標高</th><td><%= tour.elevation(false).to_i %> m ぐらい</td>
						</tr>
						<% if tour.tour_plan && (can?(:edit, TourPlan) || tour.tour_plan.published) %>
						<tr>
							<th>計画ルート</th><td><%= link_to(tour.tour_plan.name, controller: :tour_plan, action: :show, id: tour.tour_plan ) %></td>
						</tr>
						<% end %>
						<% if tour.tour_images.count > 0 %>
						<tr>
							<th>写真</th><td><%= tour.tour_images.count %>枚</td>
						</tr>
						<% end %>
					</tbody>
				</table>
            </div>
		  </div>
		</div>
		<% end %>

		<div class="pagination-centered">
			<%= will_paginate @list, renderer: FoundationPagination::Rails %>
		</div>
	</div>
  </div>
</div>
