<%= link_to "戻る", controller: :summary, action: :index %>

<h2>ツアー一覧</h2>
<div>
	<ul class="linklist">
		<% @list.each do |tour| %>
    <li>
	  <% if can?(:edit, TourResult) && !tour.published %>
	  [非公開]
	  <% end %>

      <%= link_to("#{tour.start_time.strftime("%Y/%m/%d")} #{tour.name}", action: :show, :id => tour) %>
	  <% if tour.tour_images.count > 0 %>
	  □<%= tour.tour_images.count %>
	  <% end %>

	  <% if can? :delete, TourResult %>
	  <%= link_to("削除", {action: :destroy, id: tour}, method: :delete, confirm: "削除しますか?") %>
	  <% end %>
	  <% if can? :edit, TourResult %>
	  <%= link_to(tour.published ? "非公開" : "公開", {action: :toggle_visible, id: tour}, method: :post) %>
	  <% end %>
    </li>
		<% end %>
	</ul>
</div>
<% if can? :edit, TourResult %>
<h2>追加</h2>
<div>
	<%= form_tag({action: :create}, multipart: true) do %>
	GPX ファイル: <%= file_field(:tour_result, :gpx_file) %><br />
	<%=	submit_tag("送信") %>
	<% end %>
</div>
<% end %>
