<% content_for(:title) do %>
旅の記録
<% end %>

<% content_for(:menus) do %>
<li class="active"><%= link_to "戻る", controller: :summary, action: :index %></li>
<% end %>

<% content_for(:manage) do %>
<% if can? :edit, TourResult %>
	<li class="active"><a href="#" data-dropdown="edit_menu">追加</a></li>
<% end %>
<% end %>

<% if can? :edit, TourResult %>
<div class="f-dropdown" data-dropdown-content id="edit_menu">
	<%= form_tag({action: :create}, multipart: true) do %>
	GPX ファイル: <%= file_field(:tour_result, :gpx_file) %><br />
	<%=	submit_tag("送信") %>
	<% end %>
</div>
<% end %>

<div class="btmw-tour-result-list">
  <div class="row">
    <div class="medium-12 columns">
		<div class="pagination-centered">
			<%= will_paginate @list, renderer: FoundationPagination::Rails %>
		</div>

		<% @list.each do |tour| %>
		<div class="btmw-tour-result-item">
          <div class="row">
		    <div class="medium-9 columns">
			  <div class="btmw-tour-result-item-thumbnail">
			  <% if tour.tour_images.count > 0 %>
			  <a href="<%= tour.tour_images[0].image_url %>" class="th">
			  <%= image_tag(tour.tour_images[0].thumbnail_url) %>
			  </a>
			  <% end %>
			  </div>
              <div><%= tour.start_time.strftime("%Y/%m/%d") %></div>
		      <h3><%= tour.name %></h3>
			  <p>
              <% if can?(:edit, TourResult) && !tour.published %>
		      [非公開]
		      <% end %>
			  </p>

			  <ul class="button-group round">
			  <li><%= link_to("表示", { action: :show, id: tour }, class: "tiny button") %></li>
              <% if can?(:delete, TourResult) || can?(:edit, TourResult) %>
			  <li><a href="#" data-dropdown="manage_<%= tour.id %>" class="tiny button">&nbsp;</a></li>
              <% end %>
			  </ul>
              <% if can?(:delete, TourResult) || can?(:edit, TourResult) %>
			  <ul id="manage_<%= tour.id %>" data-dropdown-content class="f-dropdown">
                <% if can? :delete, TourResult %>
                <li><%= link_to("削除", {action: :destroy, id: tour}, method: :delete, confirm: "削除しますか?") %></li>
                <% end %>
                <% if can? :edit, TourResult %>
                <li><%= link_to(tour.published ? "非公開" : "公開", {action: :toggle_visible, id: tour}, method: :post) %></li>
                <% end %>
              </ul>
              <% end %>
            </div>
		    <div class="medium-3 columns">
			  <div class="panel">
		        距離: <%= tour.distance %> km<br />
                <% if tour.tour_images.count > 0 %>
		        写真: <%= tour.tour_images.count %>枚<br />
		        <% end %>
			  </div>
            </div>
		  </div>
		</div>
		<% end %>

		<div class="pagination-centered">
			<%= will_paginate @list, renderer: FoundationPagination::Rails %>
		</div>
	</div>
  </div>
</div>
