<script type="text/javascript">
     //<![CDATA[
     var g_info_window = {};
     var g_marker = {};
     var g_map = null;

     function loadGPXFileIntoGoogleMap(filename) {
         $.ajax({
             url:filename,
             dataType: "xml",
             success: function(data) {
                 var parser = new GPXParser(data, g_map);
                 parser.setTrackColour("#ff0000");
                 parser.setTrackWidth(5);
                 parser.setMinTrackPointDelta(0.0001);
                 parser.centerAndZoom(data);
                 parser.addTrackpointsToMap();

                 <% @tour_result.tour_images.each.with_index do |img, i| %>
                     <% next unless img.point %>
                     CreatePicture(<%= i %>, <%= img.point.y %>, <%= img.point.x %>, $("#marker_<%= i %>").html() );
                 <% end %>
             }
         });
     }

     function CreatePicture(id, lat, lon, html) {
         if (g_marker[id] != null) {
             return;
         }

         g_marker[id] = new google.maps.Marker({
             position: new google.maps.LatLng(lat,lon),
             map: g_map
         });

         g_info_window[id] = new google.maps.InfoWindow({
             content: html,
             size: new google.maps.Size(50,50)
         });

         google.maps.event.addListener(g_marker[id], "click", function() {
             g_info_window[id].open(g_map, g_marker[id]);
         });
     }

     function FocusPicture(id) {
         g_info_window[id].open(g_map, g_marker[id]);
     }

     function ClosePicture(id) {
         g_info_window[id].close(g_map, g_marker[id]);
     }

     function UpdatePicture(id) {
         g_info_window[id].content = $("#marker_" + id).html();
     }

     $(document).ready(function() {
         var mapOptions = {
           zoom: 8,
           mapTypeId: google.maps.MapTypeId.ROADMAP
         };
         g_map = new google.maps.Map(document.getElementById("map"), mapOptions);
         loadGPXFileIntoGoogleMap("<%= url_for(action: :gpx_file, :id => @tour_result) %>");
         $('body').layout({
             slidable: true,
             resizable: true,
             livePaneResizing: true,
             stateManagement__enabled: true,
             north: {
               closable: false,
               spacing_open: 0,
               spacing_close: 0
             },
             west: {
                 size: 300
             },
             south: {
                 size: 200
             },
             center: {
                 onresize: function() {
                    google.maps.event.trigger(g_map, 'resize');
                 }
             }
         });
     });

    function cancelEditText(id)
    {
        $("#text_" + id).show();
        $("#text_edit_" + id).hide();
    }

    function editText(id)
    {
        $("#text_" + id).hide();
        $("#text_edit_" + id).show();
    }

 //]]>
</script>

<% if can? :edit, TourResult %>
<div id="drop1" class="reveal-modal" data-reveal>
  <%= form_tag({action: :create_images, :id => @tour_result.id }, multipart: true) do %>
    <div class="row">
        <div class="medium-3 columns">画像ファイル:</div>
        <div class="medium-9 columns"><%= file_field("tour_result", "images", multiple: true) %></div>
    </div>
    <div class="row">
        <div class="medium-9 columns push-3"><%= submit_tag("アップロード", class: "button") %></div>
    </div>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
<% end %>

<% if can?(:delete, TourResult) || can?(:edit, TourResult) %>
<% @tour_result.tour_images.each.with_index do |img, i| %>
<ul id="manage_<%= img.id %>" data-dropdown-content class="f-dropdown">
  <% if can?(:delete, TourResult) %>
  <li><%= link_to("削除", {action: :destroy_image, id: @tour_result, image_id: img}, method: :delete, confirm: "削除しますか?") %></li>
  <% end %>
  <% if can?(:edit, TourResult) %>
  <li><a href="javascript:editText(<%= img.id %>);">テキストの編集</a></li>
  <% end %>
</ul>
<% end %>
<% end %>

<% if user_signed_in? %>
<ul id="user" data-dropdown-content class="f-dropdown">
<li><%= link_to 'プロフィールを編集', edit_user_registration_path %></li>
<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
</ul>
<% end %>

<div class="ui-layout-north">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><%= @tour_result.name %></a></h1>
        <% if can? :edit, TourResult %>
        <% unless @tour_result.published %>
          <span style="color:white">[非公開]</span>
        <% end %>
        <% end %>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li class="active"><%= link_to("戻る", action: :index, page: TourResult.page_for(current_user, @tour_result.id)) %></li>
      </ul>
      <% if can?(:edit, TourResult) || can?(:delete, TourResult) %>
      <ul class="right">
        <% if can? :edit, TourResult %>
        <li class="active"><a href="#" data-reveal-id="drop1">画像ファイルの追加</a></li>
        <% end %>
        <% if can? :edit, TourResult %>
        <li class="active"><%= link_to(@tour_result.published ? "非公開" : "公開", {action: :toggle_visible, id: @tour_result}, method: :post) %></li>
        <% end %>
        <% if can? :delete, TourResult %>
        <li class="active"><%= link_to("削除", {action: :destroy, id: @tour_result}, method: :delete, confirm: "削除しますか?") %></li>
        <% end %>
        <% if user_signed_in? %>
        <li><a href="#" data-dropdown="user"><strong><%= current_user.email %></strong></a></li>
        <% end %>
      </ul>
      <% end %>
    </section>
  </nav>
</div>
<div class="ui-layout-west">
   <div class="row">
       <% @tour_result.tour_images.each.with_index do |img, i|; @img = img %>
       <div class="small-11 small-centered columns">
           <h5 class="subheader"><%= img.shot_on_local.strftime("%Y/%m/%d %H:%M:%S") %></h5>

           <a class="th" href="javascript:FocusPicture(<%= i %>);"><%= image_tag(img.thumbnail_url, style: "width:100%;height:auto;") %></a><br />
           <p id="text_<%= img.id %>"><%= img.text %></p>

           <% if can?(:edit, TourResult) %>
           <%= form_tag({ action: :update_image_text, id: img.id, index: i }, remote: true, id: "text_edit_#{img.id}", class: "hide") do %>
               <%= text_field(:img, :text) %>
               <%= submit_tag("更新") %>
               <a href="javascript:cancelEditText(<%= img.id %>);">キャンセル</a>
           <% end %>
           <% end %>

           <div class="hide" id="marker_<%= i %>">
             <a href="<%= img.image_url %>" class="th"><%= image_tag( img.thumbnail_url, style: "width : auto; height : 70%;") %></a>
             <p id="marker_text_<%= img.id %>"><%= img.text %></p>
           </div>

           <ul class="button-group round">
             <li><a class="tiny button" href="javascript:FocusPicture(<%= i %>);">場所</a></li>
             <li><a class="tiny button" href="<%= img.image_url %>">拡大</a></li>
             <% if can?(:delete, TourResult) || can?(:edit, TourResult) %>
             <li><a class="tiny button dropdown" data-dropdown="manage_<%= img.id %>" href="<%= img.image_url %>">&nbsp;</a></li>
             <% end %>
           </ul>
       </div>
       <% end %>
   </div>
</div>
<div class="ui-layout-center">
   <div id="map" style="width: 100%; height: 100%;"></div>
</div>
<div class="ui-layout-south">
    <%= image_tag( @tour_result.altitude_graph_url, style: "height:100%;width:auto;max-width:none;" ) %>
</div>

