<script type="text/javascript">
     //<![CDATA[
     var g_info_window = {};
     var g_marker = {};
     var g_map = null;

     function loadGPXFileIntoGoogleMap(filename) {
         $.ajax({
             url:filename,
             dataType: "xml",
             success: function(data) {
                 var parser = new GPXParser(data, g_map);
                 parser.setTrackColour("#ff0000");
                 parser.setTrackWidth(5);
                 parser.setMinTrackPointDelta(0.0001);
                 parser.centerAndZoom(data);
                 parser.addTrackpointsToMap();

                 <% @tour_result.tour_images.each.with_index do |img, i| %>
                     <% next unless img.point %>
                     CreatePicture(<%= i %>, <%= img.point.y %>, <%= img.point.x %>, "<%=j image_tag( img.thumbnail_url, style: "width : auto; height : 100%;") %>" );
                 <% end %>
             }
         });
     }

     function CreatePicture(id, lat, lon, html) {
         if (g_marker[id] != null) {
             return;
         }

         g_marker[id] = new google.maps.Marker({
             position: new google.maps.LatLng(lat,lon),
             map: g_map
         });

         g_info_window[id] = new google.maps.InfoWindow({
             content: html,
             size: new google.maps.Size(50,50)
         });

         google.maps.event.addListener(g_marker[id], "click", function() {
             g_info_window[id].open(g_map, g_marker[id]);
         });
     }

     function FocusPicture(id) {
         g_info_window[id].open(g_map, g_marker[id]);
     }

     $(document).ready(function() {
         var mapOptions = {
           zoom: 8,
           mapTypeId: google.maps.MapTypeId.ROADMAP
         };
         g_map = new google.maps.Map(document.getElementById("map"), mapOptions);
         loadGPXFileIntoGoogleMap("<%= url_for(action: :gpx_file, :id => @tour_result) %>");
         $('body').layout({
             applyDefaultStyles: true,
             south: {
                 size: 250
             }
         });
     });

 //]]>
</script>

<div class="ui-layout-north">
  <%= link_to("戻る", action: :index) %>
  <h1 style="font-size:18pt;">
    <%= @tour_result.name %>
  </h1>
  <% if can? :edit, TourResult %>
  <% unless @tour_result.published %>
    [非公開]
  <% end %>
  <% end %>
</div>
<div class="ui-layout-west">
    <% if can?(:delete, TourResult) || can?(:edit, TourResult) %>
    <ul>
      <% if can? :delete, TourResult %>
      <li><%= link_to("削除", {action: :destroy, id: @tour_result}, method: :delete, confirm: "削除しますか?") %></li>
      <% end %>
      <% if can? :edit, TourResult %>
      <li><%= link_to(@tour_result.published ? "非公開" : "公開", {action: :toggle_visible, id: @tour_result}, method: :post) %></li>
      <% end %>
      <% if can? :edit, TourResult %>
      <li>
        <%= form_tag({action: :create_images, :id => @tour_result.id }, multipart: true) do %>
        画像ファイルの追加:<br />
        <%= file_field("tour_result", "images", multiple: true) %><br />
        <%= submit_tag("アップロード") %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>

   <div style="text-align:center;">
       <% @tour_result.tour_images.each.with_index do |img, i| %>
       <div style="margin-bottom:1em;">
           <%= img.shot_on.strftime("%Y/%m/%d %H:%M:%S") %><br />
           <a href="javascript:FocusPicture(<%= i %>);"><%= image_tag(img.thumbnail_url, style: "width:100%;height:auto;") %></a><br />
           <a href="javascript:FocusPicture(<%= i %>);">地図に表示</a><a href="<%= img.image_url %>">拡大</a> <br />
             <% if can? :delete, TourResult %>
             <%= link_to("削除", {action: :destroy_image, id: @tour_result, image_id: img}, method: :delete, confirm: "削除しますか?") %>
             <% end %>
       </div>
       <% end %>
   </div>
</div>
<div class="ui-layout-center">
   <div id="map" style="width: 100%; height: 100%;"></div>
</div>
<div class="ui-layout-south">
    <%= image_tag( @tour_result.altitude_graph_url, style: "height:100%;width:auto;max-width:none;" ) %>
</div>

