<% image_list = [] %>

<script type="text/javascript">
     //<![CDATA[
     var g_info_window = {};
     var g_marker = {};
     var g_map = null;

     function loadGPXFileIntoGoogleMap(filename) {
         $.ajax({
             url:filename,
             dataType: "xml",
             success: function(data) {
                 var parser = new GPXParser(data, g_map);
                 parser.setTrackColour("#ff0000");
                 parser.setTrackWidth(5);
                 parser.setMinTrackPointDelta(0.0001);
                 parser.centerAndZoom(data);
                 parser.addTrackpointsToMap();

                 <% image_list.each.with_index do |img, i| %>
                     CreatePicture(<%= i %>, <%= img[:point].lat %>, <%= img[:point].lon %>, "<img src=\"<%= img[:thumbnail] %>\" style=\"width : auto; height : 100%;\" />");
                 <% end %>
             }
         });
     }

     function CreatePicture(id, lat, lon, html) {
         if (g_marker[id] != null) {
             return;
         }

         g_marker[id] = new google.maps.Marker({
             position: new google.maps.LatLng(lat,lon),
             map: g_map
         });

         g_info_window[id] = new google.maps.InfoWindow({
             content: html,
             size: new google.maps.Size(50,50)
         });

         google.maps.event.addListener(g_marker[id], "click", function() {
             g_info_window[id].open(g_map, g_marker[id]);
         });
     }

     function FocusPicture(id) {
         g_info_window[id].open(g_map, g_marker[id]);
     }

     $(document).ready(function() {
         var mapOptions = {
           zoom: 8,
           mapTypeId: google.maps.MapTypeId.ROADMAP
         };
         g_map = new google.maps.Map(document.getElementById("map"), mapOptions);
         loadGPXFileIntoGoogleMap("<%= url_for(action: :gpx_file, :id => @tour_result) %>");
     });

 //]]>
</script>

<div style="float : left; width : 15%; height : 100%;">
    <div style="float:left;width:100%;height:15%;">
        <div>
            <%= link_to("戻る", action: :index) %>
        </div>

        <h1 style="font-size:18pt;"><%= @tour_result.name %></h1>
    </div>
    <div style="float:left;width:100%;height:85%;">
        <div style="overflow:auto;position:relative;width:100%;height:100%;">
            <div style="text-align:center;">
                <% image_list.each.with_index do |img, i| %>
                <div style="margin-bottom:1em;">
                    <%= img[:date].strftime("%Y/%m/%d %H:%M:%S") %><br />
                    <a href="javascript:FocusPicture(<%= i %>);"><img src="<%= img[:thumbnail] %>" style="width:100%;height:auto;" /></a><br />
                    <a href="javascript:FocusPicture(<%= i %>);">地図に表示</a> <a href="<%= img[:link] %>">拡大</a> <br />
                </div>
            <% end %>
            </div>
        </div>
    </div>
</div>
<div style="float:left;width:85%;height:100%;">
    <div style="float:left;width:100%;height:70%;">
        <div id="map" style="width: 100%; height: 100%;"></div>
    </div>
    <div style="float:left;width:100%;height:30%;">
        <div style="width:100%;height:100%;overflow:auto;position:relative;">
            <img src="altitude.png" style="height:100%;width:auto;" />
        </div>
    </div>
</div>

