<!DOCTYPE html>
<html>
<head>
<%= render(partial: "layouts/header") %>
</head>
<body style="overflow:scroll;">

<%= render partial: "layouts/login_menu" %>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= yield(:title) %></a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
        <%= yield(:menus) %>
    </ul>
    <% if user_signed_in? || content_for?(:manage) %>
    <ul class="right">
        <%= yield(:manage) %>
        <% if user_signed_in? %>
        <li><a href="#" data-dropdown="user"><strong><%= current_user.email %></strong></a></li>
        <% end %>
    </ul>
    <% end %>
  </section>
</nav>

<%= yield %>

<div class="btmw-footer">
    <div class="row">
        <div class="medium-4 columns push-8">
            <ul class="inline-list">
                <li><a href="https://github.com/akihisa-nq/BicycleTourManagerWeb">GitHub</a></li>
            </ul>
        </div>
        <div class="medium-8 columns pull-4">
            &copy; 2011-2014 Akihisa Higuchi All rights reserved.
        </div>
    </div>
</div>

</body>
</html>
