<!DOCTYPE html>
<html>
<head>
  <title>BicycleTourManagerWeb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
<div style="text-align:right">
	<strong><%= current_user.email %></strong> としてログイン中
	<%= link_to 'プロフィールを編集', edit_user_registration_path %> |
	<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</div>
<% end %>

<%= yield %>

<div>
	<hr />
	&copy; 2011-2014 Akihisa Higuchi All rights reserved.
</div>

</body>
</html>
